packaging_format = 2

id = "mstream"
name = "mStream"
description.en = "Music streaming server"
description.fr = "Serveur de streaming musical"

version = "5.12.2~ynh2"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://mstream.io/"
demo = "https://demo.mstream.io/"
code = "https://github.com/IrosTheBeggar/mStream"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/IrosTheBeggar/mStream/archive/refs/tags/v5.12.2.tar.gz"
        sha256 = "22c74bc395506b65780d4d0e6f237e8305e9eae70677b2a1c00eb9a880f81d34"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["album-art", "db", "logs"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "ffmpeg"
