packaging_format = 2

id = "mstream"
name = "mStream"
description.en = "Music streaming server"
description.fr = "Serveur de streaming musical"

version = "5.13.1~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://mstream.io/"
demo = "https://demo.mstream.io/"
code = "https://github.com/IrosTheBeggar/mStream"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/IrosTheBeggar/mStream/archive/refs/tags/v5.13.1.tar.gz"
        sha256 = "c7b317255d8619861b21c58fc1e2d53435c49c4bb3d07addcca2d0cc03a00f7b"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = ["album-art", "db", "logs"]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "ffmpeg"
