[Unit]
Description=Mstream: music server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=NODE_PORT=__PORT__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__ENV_PATH__"
ExecStart=__YNH_NODE__ __INSTALL_DIR__/mStream/cli-boot-wrapper.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
