[Unit]
Description=Music Mstream Server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=NODE_PORT=__PORT__
WorkingDirectory=__FINALPATH__/
Environment="PATH=__ENV_PATH__"
ExecStart=__YNH_NODE__ __FINALPATH__/cli-boot-wrapper.js -j __FINALPATH__/save/conf/default.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
